---
layout: default
---

<div class="home"><div class="col-sm-2" style="width: 200px; margin-left: auto; margin-right: auto;">
    <img src="assets/myphoto.jpeg" alt="Jia Li's Photo" width="200" class="profile" />
</div>

<section class="section summary-section">
    <h2 class="section-title">About Me</h2>
    <div class="summary">
        <p>I am currently a final-year Ph.D candidate in School of Computer Science, Peking University, China. </p>
            
        <p>I was very fortunate to work under the supervision of Prof. Zhi Jin and Prof. Ge Li.</p>
        <p>My research interests mainly focus on Intelligent Software Engineering (SE), including code generation, code clone detection, code search, and AI for SE, and SE for AI.</p>
    </div><!--//summary-->
</section><!--//section-->

<section class="section experiences-section">
    <h2 class="section-title">Education</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">PhD candidate in Computer Software and Theory</h3>
                <div class="time">2020.09 - Present</div>
            </div><!--//upper-row-->
            <div class="company">Peking Univeristy, China</div>
        </div><!--//meta-->
    </div><!--//item-->

        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">Master in Natural Language Processing</h3>
                    <div class="time">2017.09 - 2020.06</div>
                </div><!--//upper-row-->
                <div class="company">Peking Univeristy, China</div>
            </div><!--//meta-->
        </div><!--//item-->

  </section><!--//section-->
